# 1. Hello

In [ ]:
x = 34 - 23     # A comment.
y = "Hello"     # Another one.
z = 3.45 

if z == 3.45 or y == "Hello":
    x = x + 1 
    y = y + "World"     # String concat.

In [ ]:
print (x)

In [ ]:
print (y)

# 2. Indendazione

Correct Indentation

In [ ]:
# Correct Indentation 
x = 1 

if x == 1: 
    print ('x has a value of 1') 
else: 
    print ('x does NOT have a value of 1')

Wrong indentation

In [ ]:
x = 1 

if x == 1: 
    print ('x has a value of 1') 
else: 
print ('x does NOT have a value of 1')

# 3. Commenti

Single line comment

In [ ]:
print ("Hello Python World") # Another one 

""" This is an example of a multiline comment """

# 4. Instruzioni_su_piu_righe

Implicit line continuation

In [ ]:
# Implicit line continuation 
x = ('1' + '2' +
      '3' + '4')

In [ ]:
x

Explicit line continuation

In [ ]:
# Explicit line continuation 

y = '1' + '2' + \
    '11' + '12' 

weekdays = ['Monday', 'Tuesday', 'Wednesday',
             'Thursday', 'Friday']


weekend = {'Saturday', 
           'Sunday'}

In [ ]:
y

# 5. Piu_istruzioni_su_una_riga

In [ ]:
""" Code example for multi-statement on a single line """

x = 'Hello'; print (x)

# 6. Operatori_di_appartenenza_e_identita

In [ ]:
var1 = 1

var2 = 2

var3 = [1,3,5]

In [ ]:
print(var1 is not var2)

In [ ]:
print(var1 in var3)

In [ ]:
print(var2 not in var3)

# 7. IF statement

In [ ]:
# Example code for a simple 'if' statement 
var = -1 

if var < 0: 
    print (var) 
    print("the value of var is negative") 

"""If there is only a single clause then it may go on the same line as the header statement """

if (var == -1): print("the value of var is negative")

# 8. IF-ELSE statement

In [ ]:
# Example code for the 'if else' statement 
var = 1 

if var < 0: 
    print("the value of var is negative") 
    print (var) 
else: 
    print("the value of var is positive") 
    print (var)

# 9. Nested IF-ELSE statement

In [ ]:
# Example code for nested if else statements 

score = 95 

if score >= 99: 
    print ("A")

elif score >= 75: 
    print ("B") 

elif score >= 60: 
    print ("C") 

elif score >= 35: 
    print("D") 
    
else: 
    print ("F")

# 10. Iterazione 1

In [ ]:
# First example of a 'for loop' statement 

print ("First Example") 

for item in [1,2,3,4,5]:
    print('item:', item)

# 11. Iterazione 2

In [ ]:
# Second example of a 'for loop' statement 

print("Second Example") 

letters = ['A','B','C'] 

for letter in letters: 
    print('First loop letter:', letter)

In [ ]:
# Third Example - Iterating by sequence index 
print("Third Example") 

for index in range(len(letters)): 
    print('First loop letter:', letters[index])

In [ ]:
# Fourth Example - Using else statement 
print("Fourth Example") 

for item in [1,2,3,4,5]: 
    print('item:', item) 
else: 
    print('looping over item complete!')

# 12. Iterazione 3

In [ ]:
# Example code for while loop statement

count = 0

while (count < 3):
    print('The count is:', count)
    count = count + 1

In [ ]:
# Example code for a â€˜while with a else statement

count = 0

while count < 3:
    print(count, 'is less than 3')
    count = count + 1
else:
    print(count, 'is not less than 3')

# 13. Semantica di riferimento

In [ ]:
x = 3 #Creates 3, name x refers to 3

In [ ]:
y = x #Creates name y, refers to 3

In [ ]:
y = 4 #Creates ref for 4. Change y

In [ ]:
print(x) #No effects on x, still refers to 3

# 14. Liste

In [ ]:
#Creates lists

list_1 = ['Statistics','Programming', 2016, 2017, 2018]

list_2 = ['a', 'b',  1, 2, 3, 4, 5, 6, 7]

Accessing values in lists

In [ ]:
print('list_1[0]:', list_1[0])

In [ ]:
print('list_2[1:5]:', list_2[1:5])

# 15. Aggiunta e/o aggiornamento valori

Adding new value to list

In [ ]:
list_1 =[ 'c','b','a',3 ,2 ,1 ]

In [ ]:
print('list_1 values: ', list_1)

Append new value

In [ ]:
list_1.append(2019)

In [ ]:
print('list_1 values post append: ', list_1)

Updating existing value of list

In [ ]:
print('list 1 values: ' , list_1)

In [ ]:
print('Index 2 value: ', list_1[2])

In [ ]:
list_1[2] = 2015

In [ ]:
print("Index 2 s new value : ", list_1[2])

# 16. Rimozione_valori

Create list

In [ ]:
list_1 =[ 'c','b','a', 2015, 3 ,2 ,1, 2019]

In [ ]:
print('list_1 values: ', list_1)

delete value

In [ ]:
del list_1[5]

In [ ]:
print("After deleting value at index 5: ", list_1)

# 17. Operazioni Base Liste

## Operazioni Base 1

In [ ]:
# Adding new value to list 
list_1 =[ 'c','b', 3 ,2 ,1]

In [ ]:
print('Length: ', len(list_1), "\n")

In [ ]:
print('Contenation: ', [1,2,3] + [4,5,6], "\n")

In [ ]:
print('Repetition: ', ['Hello'] * 4, "\n")

In [ ]:
print('Membership: ', 3 in [1,2,3,], "\n")

In [ ]:
print('Iteration \n')

for x in [1,2]: print(x)

## Operazioni Base 2

In [ ]:
list_1 =[ 'Statistics','Programming',2015,2017,2018] # Negative sign will count from the right

In [ ]:
print("slicing: ", list_1[-2], "\n")

If you don't specify the end explicitly, all elements from the specified start index will be printed

In [ ]:
print("slicing range: ", list_1[1:], "\n")

Comparing elements of lists

In [ ]:
# Comparing elements of lists 
print("Compare two lists: ", ([1,2,3,4] == [1,2,3]), "\n")

In [ ]:
print("Compare two lists: ", ([1,2,3] == [1,2,3]), "\n")

Max

In [ ]:
print("Max of list: " , max([1,2,3,4,5]), "\n")

Min

In [ ]:
print("Min of list: " , min([1,2,3,4,5]), "\n")

## Operazioni Base 3

In [ ]:
print("Count number of 1: ", [1,1,2,3,4,5].count(1))

In [ ]:
list_1 = [ 'Statistics','Programming',2015,2017,2018] 
list_2 =['a','b',1,2,3,4,5,6,7]

In [ ]:
list_1.extend(list_2, "\n")

In [ ]:
print("Extended: ", list_1, "\n")

In [ ]:
print("Index for : ", list_1.index("Programming"), "\n")

In [ ]:
print(list_1, "\n")

In [ ]:
print("pop last item in list: ", list_1.pop(), "\n")

In [ ]:
print("pop the item with index 2: ", list_1.pop(2), "\n")

## Operazioni Base 4

In [ ]:
list_1 =['Statistics', 'Programming','2017',
          '2018','a','b','1','2','3','4','5','6']

In [ ]:
list_1.remove("b")

In [ ]:
print('removed b from list:', list_1, "\n")

In [ ]:
list_1.reverse()

In [ ]:
print("Reverse: ", list_1, "\n")

In [ ]:
list_1 = list_1.sort()

In [ ]:
print("Sort ascending: ", list_1, "\n")

# 18. List Comprehension vs For

For Loop code

In [ ]:
# For Loop code 
h_letters = [] 

for letter in 'human': 
    
    h_letters.append(letter) 
    
print("For: ", h_letters, "\n")

List Comprehension

In [ ]:
# List Comprehension 

h_letters = [ letter for letter in 'human'] 

print("List Comprehension: ", h_letters, "\n")

List Comprehension with conditionals

In [ ]:
# List Comprehension with conditionals 
number_list = [ x for x in range(20) if x % 2 == 0] 
print(number_list, "\n")

List Comprehension with nested if

In [ ]:
# List Comprehension with nested if 
num_list = [ y for y in range(100) if y % 2 == 0 if y % 5 == 0] 
print(num_list , "\n")

List Comprehension with if...else

In [ ]:
# List Comprehension with if...else 
obj = ['Even' if i % 2 == 0 else 'Odd' for i in range(10)] 
print(obj, "\n")